footer.footer
  .container
    .footer_container
      h2.footer_title Nîmes
      nav.footer_links
        a(href="#").footer_link Shop
        a(href="#").footer_link Delivery
        a(href="#").footer_link Service
        a(href="#").footer_link Contacts
      ul.footer_social-list
        li.footer_social-item
          a(href="#").footer_social-link
            img(src="img/svg/fb.svg", alt="facebook" width='10.5' height='20')
        li.footer_social-item
          a(href="#").footer_social-link
            img(src="img/svg/instagram.svg", alt="instagram" width='20' height='20')
        li.footer_social-item
          a(href="#").footer_social-link
            img(src="img/svg/pinterest.svg", alt="pinterest" width='20' height='20')
        li.footer_social-item
          a(href="#").footer_social-link
            img(src="img/svg/twitter.svg", alt="twitter" width='20' height='20')
