extends ./layout/layout

block content
    main
        .container.d-flex.height-100
            .m-auto
                h1.title Cart is empty
                a(href="#").button.mt-3.width-100 Go to catalog

