extends ./layout/layout
include ./components/crumbs
include ./components/product-card

block variables
    - var title = 'Catalog'

block content
    main.mt-2-mobile
        .container
            +crumbs('mb-3 hidden-tablet')
        include ./components/head-block
        .container
            .filter-container.mb-3
                include ./components/filter
                nav.categories-list
                    ul.categories-list_list.scrollable
                        li.categories-list_item
                            a(href="#").categories-list_link.active Woman
                        li.categories-list_item
                            a(href="#").categories-list_link Man
            ul.filter-buttons.mb-3
                li.filter-buttons_item
                    button(type='button').filter-buttons_button.active Popular
                li.filter-buttons_item
                    button(type='button').filter-buttons_button Low to high
                li.filter-buttons_item
                    button(type='button').filter-buttons_button High to low
            section.content
                ul.product-list.product-list--catalog
                    - for (var i = 1; i < 10; i++) {
                        li.product-list_item
                            +product-card({
                                img: `woman-jacket-${i}`,
                                title: 'Jacket',
                                price: `$ ${i + i}0`})
                    - }
            section.content.pd-7-descktop
                include ./components/pagination.pug
