extends ./layout/layout
include ./components/bread-crumbs
include ./components/product-card

block variables
    - var title = 'Catalog'

block content
    main
        .container.mt-2-mobile.mt-0-tablet
            +bread-crumbs('mb-3 hidden-tablet')
        include ./components/head-block
        .container
            .filter-container.mb-3
                include ./components/filter
                nav.buttons-choose
                    ul.buttons-choose_list.scrollable
                        li.buttons-choose_item
                            a(href="#").buttons-choose_link.active Woman
                        li.buttons-choose_item
                            a(href="#").buttons-choose_link Man
            ul.sort-buttons.mb-3
                li.sort-buttons_item
                    button(type='button').sort-buttons_button.active Popular
                li.sort-buttons_item
                    button(type='button').sort-buttons_button Low to high
                li.sort-buttons_item
                    button(type='button').sort-buttons_button High to low
            section.content
                ul.product-list.product-list--catalog
                    - for (var i = 1; i < 10; i++) {
                        li.product-list_item
                            +product-card({
                                img: `woman-jacket-${i}`,
                                title: 'Jacket',
                                price: `$ ${i + i}0`})
                    - }
            section.content.pd-7-descktop
                include ./components/pagination.pug
