extends ./layout/layout

block variables
    - var title = 'Login'

block content
    main
        .container.d-flex.height-100
            form.form.m-auto
                h1.title.form_title Login
                .form_container.error
                    input(type="text" id="login" placeholder=' ').form_input.input-field
                    label(for="login").form_label Login incorrect
                .form_container
                    input(type="text" placeholder=' ').form_input.input-field
                    label(for="login").form_label Password
                button.button.form_button Login

