extends ./layout/layout
include ./components/img
include ./components/filter-radio
include ./components/product-card

block variables
    - var title = 'Product'

block content
    main
        section.product-details.content.mt-2-mobile.mt-4-tablet.mt-6-descktop
            .product-details_container
                .product-slider
                    .swiper-wrapper
                        - for (var i = 1; i < 6; i++) {
                            .swiper-slide
                                +img({
                                    imgName: `slider-${i}`,
                                    altText: 'комбез',
                                    width: '244',
                                    height: '310',
                                    className: 'product-slider_img'})
                        - }
                    button(type='button').product-slider_button.product-slider_button--prev
                        img(class="product-slider_icon" src="img/svg/arrow-slider.svg" width="8" height="16")
                    button(type='button').product-slider_button.product-slider_button--next
                        img(class="product-slider_icon" src="img/svg/arrow-slider.svg" width="8" height="16")
                .product-slider_pagination
                    .swiper-wrapper
                        - for (var i = 1; i < 6; i++) {
                            .swiper-slide
                                +img({
                                    imgName: `slider-${i}`,
                                    altText: 'комбез',
                                    width: '100',
                                    height: '200',
                                    className: 'product-slider_pagination-img'})
                        - }
            .product-details_description
                .product-details_container
                    ul.product-details_list
                        li.product-details_item
                            h2.title.product-details_title Overalls
                            p.product-details_text Overalls in washed organic cotton denim. Collar, button fly, and adjustable belt at waist. Chest pockets with flap. Long, gently flared sleeves and straight legs with front and back pockets.
                        li.product-details_item
                            h3.product-details_sub-title Color
                            +filter-radio('product-details_radio')
                        li.product-details_item
                            h3.product-details_sub-title Size
                            ul.sort-buttons
                                li.sort-buttons_item
                                    button(type='button').sort-buttons_button.active XS
                                li.sort-buttons_item
                                    button(type='button').sort-buttons_button S
                                li.sort-buttons_item
                                    button(type='button').sort-buttons_button M
                                li.sort-buttons_item
                                    button(type='button').sort-buttons_button L
                                li.sort-buttons_item
                                    button(type='button').sort-buttons_button XL
                    p.product-details_price $ 160
                    button(type='button').button.product-details_button Add to cart
        section.content
            .container
                .title-container
                    h2.title You may also like
                    a(href="#").link.hidden-mobile View all
                ul.product-list
                    li.product-list_item
                        +product-card({
                            img: 'woman-overall-1',
                            title: 'Overall',
                            price: '$ 120'})
                    li.product-list_item
                        +product-card({
                            img: 'category-overall',
                            title: 'Overall',
                            price: '$ 110'})
                    li.product-list_item
                        +product-card({
                            img: 'woman-jacket-8',
                            title: 'Jacket',
                            price: '$ 70'})
                    li.product-list_item
                        +product-card({
                            img: 'woman-jacket-1',
                            title: 'Jacket',
                            price: '$ 60'})
                .hidden-tablet.link-container
                    a(href="#").link View all
