.filter-container {
    @include vp-768 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        align-items: center;
    }


    @include vp-1200 {
        grid-template-columns: 3fr 1fr;
    }

    .filter {
        margin-bottom: 3rem;

        @include vp-768 {
            margin-bottom: 0;
        }
    }

    .buttons-choose {
        @include vp-768 {
            order: -1;
        }
    }
}
