.bread-crumbs {
    display: flex;
    flex-wrap: wrap;
}

.bread-crumbs_link {
    position: relative;
    font-size: 1.8rem;
    line-height: 1;
    opacity: 0.4;

    &:not(:first-child) {
        margin-left: 3rem;

        &::before {
            content: '/';
            position: absolute;
            left: -1.5rem;
            opacity: 0.4;
        }
    }

    &:last-child {
        opacity: 1;
    }
}
