.burger {
    position: relative;
    width: 2.4rem;
    background-color: unset;
}

.burger_open,
.burger_close {
    position: absolute;
    left: 0;
}

.burger_close:after {
    opacity: 0;
}

.burger_open:after,
.burger_close:after,
.burger_close:before {
    content: "";
    position: absolute;
    background: var(--color-default-black);
    width: 22px;
    height: 2px;
    transition: opacity 0.2s;
}

.burger_open:after {
    box-shadow: 0 -7px var(--color-default-black), 0 7px var(--color-default-black);
}

.active .burger_open:after {
    opacity: 0;
    transition: opacity 0.2s;
}

.active .burger_close:after {
    opacity: 1;
    transition: opacity 0.2s;
}

.active .burger_close:after {
    transform: rotate(-45deg);
}

.active .burger_close:before {
    transform: rotate(45deg);
}
