.input-field {
    padding: 1rem;
    width: 100%;
    outline: none;
    font-size: 1.8rem;
    height: 4.7rem;
    border: 0.2rem solid var(--color-default-black);
    transition: var(--default-transition);
    font-weight: 500;
}
