.link {
    position: relative;
    font-weight: 500;

    @include vp-768 {
        font-size: 1.8rem;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2rem;
        bottom: -0.5rem;
        left: 0;
        background-color: var(--color-default-black);
    }
}