.search-block {
    position: relative;

    &.active {
        .search-block_input {
            visibility: visible;
            opacity: 1;
        }
    }

    .search-block_input {
        width: 23.5rem;

        @include vp-768 {
            width: 40rem;
        }
    }
}

.search-block_input {
    position: absolute;
    right: -1rem;
    top: -0.9rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    visibility: hidden;
    opacity: 0;

    @include vp-768 {
        height: 5rem;
        width: 40rem;
        top: -1.1rem;
    }
}

.search-block_button {
    position: absolute;
    right: -0.5rem;
    padding: 0.5rem;
    background-color: transparent;
}

.search-block_img {
    min-width: 1.8rem;
}
