.sort-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    gap: 1.5rem 2.5rem;
}


.sort-buttons_button {
    display: none;
}

.sort-buttons_button + label {
    position: relative;
    cursor: pointer;
    transition: var(--default-transition);
    padding: 0.5rem;
    font-size: 1.4rem;
    color: var(--color-grey);
    font-weight: 500;

    &:hover {
        opacity: 0.7;
    }
}

.sort-buttons_button:checked + label {
    color: var(--color-default-black);
    font-weight: 700;
}
