.sort-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    gap: 1.5rem 2.5rem;
}


.sort-buttons_button {
    padding: 0.5rem;
    font-size: 1.4rem;
    color: var(--color-grey);
    font-weight: 500;
    transition: var(--default-transition);

    &:hover {
        opacity: 0.7;
    }

    &.active {
        color: var(--color-default-black);
        text-shadow:0px 0px 0.1rem var(--color-default-black);
    }
}
