.container {
    width: 100%;
    max-width: 136.6rem;
    margin: 0 auto;
    padding: 0 1.5rem;

    @include vp-768 {
        padding: 0 4.5rem;
    }

    @include vp-1200 {
        padding: 0 9.8rem;
    }
}
