nav.buttons-choose.mb-3.mt-3
    ul.buttons-choose_list.scrollable
        li.buttons-choose_item
            a(href="#").buttons-choose_link Bestsellers
        li.buttons-choose_item
            a(href="#").buttons-choose_link Jeans
        li.buttons-choose_item
            a(href="#").buttons-choose_link Shirts
        li.buttons-choose_item
            a(href="#").buttons-choose_link Jackets
        li.buttons-choose_item
            a(href="#").buttons-choose_link Overalls
        li.buttons-choose_item
            a(href="#").buttons-choose_link Shorts
        li.buttons-choose_item
            a(href="#").buttons-choose_link Dresses
