nav.categories-list.mb-3.mt-3
    ul.categories-list_list.scrollable
        li.categories-list_item
            a(href="#").categories-list_link Bestsellers
        li.categories-list_item
            a(href="#").categories-list_link Jeans
        li.categories-list_item
            a(href="#").categories-list_link Shirts
        li.categories-list_item
            a(href="#").categories-list_link Jackets
        li.categories-list_item
            a(href="#").categories-list_link Overalls
        li.categories-list_item
            a(href="#").categories-list_link Shorts
        li.categories-list_item
            a(href="#").categories-list_link Dresses
