include ./filter-radio

.dropdown-menu
    button(type='button').dropdown-menu_dropdown
        span.dropdown-menu_dropdown-title Filter by
        img(class="dropdown-menu_icon" src="img/svg/arrow-down-accordion.svg" width="16" height="8")
    .dropdown-menu_content
        .dropdown-menu_header
            h3.dropdown-menu_title Filter
            button(type='button').dropdown-menu_button.js-filter-close Close
        ul.accordion
            li.accordion_item.active
                .accordion_title-wrap
                    span.accordion_title Color
                    img(class="accordion_icon" src="img/svg/arrow-down-accordion.svg" width="16" height="8")
                .accordion_wrapper
                    .accordion_content
                        +filter-radio()
            li.accordion_item.active
                .accordion_title-wrap
                    span.accordion_title Collection
                    img(class="accordion_icon" src="img/svg/arrow-down-accordion.svg" width="16" height="8")
                .accordion_wrapper
                    .accordion_content
                        ul.sort-buttons
                            li.sort-buttons_item
                                button(type='button').sort-buttons_button Casual
                            li.sort-buttons_item
                                button(type='button').sort-buttons_button.active Petite
                            li.sort-buttons_item
                                button(type='button').sort-buttons_button Classic
        div
            button(type='button').button Apply (9 products)
            button(type='button').button.button--white.button--border-bottom Clear all
