include ./filter-radio

.filter
    button(type='button').filter_dropdown
        span.filter_dropdown-title Filter by
        img(class="filter_icon" src="img/svg/arrow-down-accordion.svg" width="16" height="8")
    .filter_content
        .filter_header
            button(type='button').filter_button Clear all
            h3.filter_title Filter
            button(type='button').filter_button.js-filter-close Close
        ul.accordion
            li.accordion_item.active
                .accordion_title-wrap
                    span.accordion_title Color
                    img(class="accordion_icon" src="img/svg/arrow-down-accordion.svg" width="16" height="8")
                .accordion_wrapper
                    .accordion_content
                        +filter-radio()
            li.accordion_item.active
                .accordion_title-wrap
                    span.accordion_title Collection
                    img(class="accordion_icon" src="img/svg/arrow-down-accordion.svg" width="16" height="8")
                .accordion_wrapper
                    .accordion_content
                        ul.sort-buttons
                            li.sort-buttons_item
                                button(type='button').sort-buttons_button Casual
                            li.sort-buttons_item
                                button(type='button').sort-buttons_button.active Petite
                            li.sort-buttons_item
                                button(type='button').sort-buttons_button Classic
        .filter_button-container
            button(type='button').button Apply (9 products)
            button(type='button').button.button--white.hidden-mobile Clear all
