include ./crumbs
include ./img

.head-block.hidden-mobile.mb-3
    .container.head-block_container
        .head-block_wrap
            +crumbs('mb-3')
            h2.head-block_title Denim Collection <br/> Fall 2019
        .head-block_picture-wrap
            +img({
                imgName: 'head-block',
                altText: 'промо',
                width: '294',
                height: '260',
                className: 'head-block_img'})
