include ./img

mixin product-card(data)
    article(class= data.className).product-card
        a(href="")
            .product-card_img-wrap
                +img({imgName: data.img, altText: data.title, className: 'product-card_img'})
            h3.product-card_title= data.title
            br
            span.product-card_price= data.price
