mixin user-block(classNames)
    .user-block(class= classNames)
        ul.user-block_list
            li.user-block_list-item
                .search-block
                    input(type="search").search-block_input.input-field
                    button(type='button').search-block_button
                        img.search-block_img(src="img/svg/search.svg", alt="поиск" width="24" height="24")
            li.user-block_list-item
                a(href="#").user-block_item
                    img.user-block_img(src="img/svg/person.svg", alt="корзина" width="24" height="24")
            li.user-block_list-item
                a(href="#").user-block_item
                    span.user-block_cart-count 0
                    img.user-block_img(src="img/svg/cart.svg", alt="корзина" width="24" height="24")
